# ETL with Spark on EMR

In [22]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [23]:
# cat ~/.aws/credentials

AWS_ACCESS_KEY_ID = "ASIAXZM22O2VTY22WUN2"
AWS_SECRET_ACCESS_KEY = "inf6RDpkjo1c0VfRrVj+2AkamuzoKaqjhw+sGJBS"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEBYaDHu7IZUlypFbyWw57yLMAQEIFEdpk2wGBoPRLSB+BWy8QptB57xf3GAke1MlEOrPYKPgWyOLtErARd4/F8X6wJ6m+LEzM8w9dVLqj7/o3vT+l31aDuMowzqbfvlmDm6OndBxZpKiTTugSFGq529eKySX5SLW+7BDcM8F6swsVZimCAU+YBj5YcJca1CVdHb/FZOdT6yrah/UaxXklrWI4U694C1F+v4JkBzSJPGLZypE4u8Oxb/wMXRegA8H33EQz+dEl5LBZ67jPjIvnWMfh/OUNBVEEUg2Uo0GQiihmsKcBjItX3mx3Q+sq1PmSHzoNvhot/pNXyq7YhwF1IB0u/4wUDEtAfQtMCr1nqNcdWSv"

In [24]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

In [25]:
bucket = "s3a://jaochin-dataset-fifa"
landing_zone = f"{bucket}/landing/"
cleaned_zone = f"{bucket}/cleaned/"

# cleaned_zone = f"../Datalake/"

In [26]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [27]:
data = spark.read.option("header","true").option("multiline", "true").csv(landing_zone)

In [28]:
data.printSchema()

root
 |-- sofifa_id: string (nullable = true)
 |-- player_url: string (nullable = true)
 |-- short_name: string (nullable = true)
 |-- long_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- height_cm: string (nullable = true)
 |-- weight_kg: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- club_name: string (nullable = true)
 |-- league_name: string (nullable = true)
 |-- league_rank: string (nullable = true)
 |-- overall: string (nullable = true)
 |-- potential: string (nullable = true)
 |-- value_eur: string (nullable = true)
 |-- wage_eur: string (nullable = true)
 |-- player_positions: string (nullable = true)
 |-- preferred_foot: string (nullable = true)
 |-- international_reputation: string (nullable = true)
 |-- weak_foot: string (nullable = true)
 |-- skill_moves: string (nullable = true)
 |-- work_rate: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- real_face: string (nullable = true)
 |-- release_clause_eur: string (nullable = true)
 |-- player_tags: string (nullable = true)
 |-- team_position: string (nullable = true)
 |-- team_jersey_number: string (nullable = true)
 |-- loaned_from: string (nullable = true)
 |-- joined: string (nullable = true)
 |-- contract_valid_until: string (nullable = true)
 |-- nation_position: string (nullable = true)
 |-- nation_jersey_number: string (nullable = true)
 |-- pace: string (nullable = true)
 |-- shooting: string (nullable = true)
 |-- passing: string (nullable = true)
 |-- dribbling: string (nullable = true)
 |-- defending: string (nullable = true)
 |-- physic: string (nullable = true)
 |-- gk_diving: string (nullable = true)
 |-- gk_handling: string (nullable = true)
 |-- gk_kicking: string (nullable = true)
 |-- gk_reflexes: string (nullable = true)
 |-- gk_speed: string (nullable = true)
 |-- gk_positioning: string (nullable = true)
 |-- player_traits: string (nullable = true)
 |-- attacking_crossing: string (nullable = true)
 |-- attacking_finishing: string (nullable = true)
 |-- attacking_heading_accuracy: string (nullable = true)
 |-- attacking_short_passing: string (nullable = true)
 |-- attacking_volleys: string (nullable = true)
 |-- skill_dribbling: string (nullable = true)
 |-- skill_curve: string (nullable = true)
 |-- skill_fk_accuracy: string (nullable = true)
 |-- skill_long_passing: string (nullable = true)
 |-- skill_ball_control: string (nullable = true)
 |-- movement_acceleration: string (nullable = true)
 |-- movement_sprint_speed: string (nullable = true)
 |-- movement_agility: string (nullable = true)
 |-- movement_reactions: string (nullable = true)
 |-- movement_balance: string (nullable = true)
 |-- power_shot_power: string (nullable = true)
 |-- power_jumping: string (nullable = true)
 |-- power_stamina: string (nullable = true)
 |-- power_strength: string (nullable = true)
 |-- power_long_shots: string (nullable = true)
 |-- mentality_aggression: string (nullable = true)
 |-- mentality_interceptions: string (nullable = true)
 |-- mentality_positioning: string (nullable = true)
 |-- mentality_vision: string (nullable = true)
 |-- mentality_penalties: string (nullable = true)
 |-- mentality_composure: string (nullable = true)
 |-- defending_marking: string (nullable = true)
 |-- defending_standing_tackle: string (nullable = true)
 |-- defending_sliding_tackle: string (nullable = true)
 |-- goalkeeping_diving: string (nullable = true)
 |-- goalkeeping_handling: string (nullable = true)
 |-- goalkeeping_kicking: string (nullable = true)
 |-- goalkeeping_positioning: string (nullable = true)
 |-- goalkeeping_reflexes: string (nullable = true)
 |-- ls: string (nullable = true)
 |-- st: string (nullable = true)
 |-- rs: string (nullable = true)
 |-- lw: string (nullable = true)
 |-- lf: string (nullable = true)
 |-- cf: string (nullable = true)
 |-- rf: string (nullable = true)
 |-- rw: string (nullable = true)
 |-- lam: string (nullable = true)
 |-- cam: string (nullable = true)
 |-- ram: string (nullable = true)
 |-- lm: string (nullable = true)
 |-- lcm: string (nullable = true)
 |-- cm: string (nullable = true)
 |-- rcm: string (nullable = true)
 |-- rm: string (nullable = true)
 |-- lwb: string (nullable = true)
 |-- ldm: string (nullable = true)
 |-- cdm: string (nullable = true)
 |-- rdm: string (nullable = true)
 |-- rwb: string (nullable = true)
 |-- lb: string (nullable = true)
 |-- lcb: string (nullable = true)
 |-- cb: string (nullable = true)
 |-- rcb: string (nullable = true)
 |-- rb: string (nullable = true)

In [9]:
data.createOrReplaceTempView("staging_data")

In [10]:
table = spark.sql("""
    select
        sofifa_id
        , long_name
        , age
        , overall
        , value_eur
        , wage_eur
        , team_position
        , nationality
        , club_name
        , league_name
    from
        staging_data
""")

table.show()

+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
|sofifa_id|           long_name|age|overall|value_eur|wage_eur|team_position|nationality|          club_name|         league_name|
+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
|   158023|Lionel Andrés Mes...| 33|     93| 67500000|  560000|          CAM|  Argentina|       FC Barcelona|Spain Primera Div...|
|    20801|Cristiano Ronaldo...| 35|     92| 46000000|  220000|           LS|   Portugal|           Juventus|     Italian Serie A|
|   200389|           Jan Oblak| 27|     91| 75000000|  125000|           GK|   Slovenia|    Atlético Madrid|Spain Primera Div...|
|   188545|  Robert Lewandowski| 31|     91| 80000000|  240000|           ST|     Poland|  FC Bayern München|German 1. Bundesliga|
|   190871|Neymar da Silva S...| 28|     91| 90000000|  270000|           LW|     Brazil|Paris Saint-Germain|      French Ligue 1|
|   192985|     Kevin De Bruyne| 29|     91| 87000000|  370000|          RCM|    Belgium|    Manchester City|English Premier L...|
|   231747|Kylian Mbappé Lottin| 21|     90|105500000|  160000|           LS|     France|Paris Saint-Germain|      French Ligue 1|
|   192448|Marc-André ter St...| 28|     90| 69500000|  260000|           GK|    Germany|       FC Barcelona|Spain Primera Div...|
|   203376|     Virgil van Dijk| 28|     90| 75500000|  210000|          LCB|Netherlands|          Liverpool|English Premier L...|
|   212831|Alisson Ramsés Be...| 27|     90| 62500000|  160000|           GK|     Brazil|          Liverpool|English Premier L...|
|   208722|          Sadio Mané| 28|     90| 78000000|  250000|           LW|    Senegal|          Liverpool|English Premier L...|
|   209331| Mohamed Salah Ghaly| 28|     90| 78000000|  250000|           RW|      Egypt|          Liverpool|English Premier L...|
|   192119|    Thibaut Courtois| 28|     89| 56000000|  250000|           GK|    Belgium|        Real Madrid|Spain Primera Div...|
|   153079|Sergio Leonel Agü...| 32|     89| 53000000|  300000|          SUB|  Argentina|    Manchester City|English Premier L...|
|   155862| Sergio Ramos García| 34|     89| 24500000|  300000|          LCB|      Spain|        Real Madrid|Spain Primera Div...|
|   165153|       Karim Benzema| 32|     89| 53000000|  350000|           CF|     France|        Real Madrid|Spain Primera Div...|
|   167495|        Manuel Neuer| 34|     89| 29000000|  125000|           GK|    Germany|  FC Bayern München|German 1. Bundesliga|
|   200145|Carlos Henrique V...| 28|     89| 59500000|  310000|          CDM|     Brazil|        Real Madrid|Spain Primera Div...|
|   210257|Ederson Santana d...| 26|     88| 53500000|  195000|           GK|     Brazil|    Manchester City|English Premier L...|
|   202652|Raheem Shaquille ...| 25|     88| 72500000|  270000|           LW|    England|    Manchester City|English Premier L...|
+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
only showing top 20 rows

In [11]:
table_leagues = spark.sql("""
    select 
        row_number() over (order by league_name) as league_id
        , league_name 
        , current_date() as date_oprt
    from (
        select distinct league_name from staging_data where league_name is not null order by league_name
    )
""")

table_leagues.createOrReplaceTempView("leagues")
table_leagues.show()

+---------+--------------------+----------+
|league_id|         league_name| date_oprt|
+---------+--------------------+----------+
|        1|Argentina Primera...|2022-12-07|
|        2|Argentinian Prime...|2022-12-07|
|        3|Australian Hyunda...|2022-12-07|
|        4|Austrian Football...|2022-12-07|
|        5|Belgian Jupiler P...|2022-12-07|
|        6|Campeonato Brasil...|2022-12-07|
|        7|Chilian Campeonat...|2022-12-07|
|        8|Chinese Super League|2022-12-07|
|        9|Colombian Liga Po...|2022-12-07|
|       10|   Croatian Prva HNL|2022-12-07|
|       11|Czech Republic Ga...|2022-12-07|
|       12|    Danish Superliga|2022-12-07|
|       13|  Ecuadorian Serie A|2022-12-07|
|       14|English League Ch...|2022-12-07|
|       15|  English League One|2022-12-07|
|       16|  English League Two|2022-12-07|
|       17|English Premier L...|2022-12-07|
|       18|Finnish Veikkausl...|2022-12-07|
|       19|      French Ligue 1|2022-12-07|
|       20|      French Ligue 2|2022-12-07|
+---------+--------------------+----------+
only showing top 20 rows

In [12]:
table_clubs = spark.sql("""
    select 
        row_number() over (order by club.club_name) as club_id
        , club.club_name 
        , league.league_id 
        , current_date() as date_oprt
    from (
        select distinct 
            club_name
            , league_name 
        from staging_data 
        where club_name is not null 
        order by club_name
    ) club
    inner join leagues league 
        on league.league_name = club.league_name
        and league.date_oprt = current_date()
""")

table_clubs.createOrReplaceTempView("clubs")
table_clubs.show()

+-------+--------------------+---------+----------+
|club_id|           club_name|league_id| date_oprt|
+-------+--------------------+---------+----------+
|      1|1. FC Heidenheim ...|       22|2022-12-07|
|      2|1. FC Kaiserslautern|       23|2022-12-07|
|      3|          1. FC Köln|       21|2022-12-07|
|      4|     1. FC Magdeburg|       23|2022-12-07|
|      5|      1. FC Nürnberg|       22|2022-12-07|
|      6|   1. FC Saarbrücken|       23|2022-12-07|
|      7|  1. FC Union Berlin|       21|2022-12-07|
|      8|     1. FSV Mainz 05|       21|2022-12-07|
|      9|          AC Ajaccio|       20|2022-12-07|
|     10|          AC Horsens|       12|2022-12-07|
|     11|AC Mineros de Gua...|       52|2022-12-07|
|     12|            AC Monza|       27|2022-12-07|
|     13|         AD Alcorcón|       44|2022-12-07|
|     14|        ADO Den Haag|       25|2022-12-07|
|     15|          AEK Athens|       24|2022-12-07|
|     16|       AFC Wimbledon|       15|2022-12-07|
|     17|                 AIK|       45|2022-12-07|
|     18|          AJ Auxerre|       20|2022-12-07|
|     19|           AS Monaco|       19|2022-12-07|
|     20|   AS Nancy Lorraine|       20|2022-12-07|
+-------+--------------------+---------+----------+
only showing top 20 rows

In [13]:
table_positions = spark.sql("""
    select 
        row_number() over (order by team_position) as position_id
        , team_position as position_name
        , current_date() as date_oprt
    from (
        select distinct team_position from staging_data where team_position is not null order by team_position
    )
""")

table_positions.createOrReplaceTempView("positions")
table_positions.show()

+-----------+-------------+----------+
|position_id|position_name| date_oprt|
+-----------+-------------+----------+
|          1|          CAM|2022-12-07|
|          2|           CB|2022-12-07|
|          3|          CDM|2022-12-07|
|          4|           CF|2022-12-07|
|          5|           CM|2022-12-07|
|          6|           GK|2022-12-07|
|          7|          LAM|2022-12-07|
|          8|           LB|2022-12-07|
|          9|          LCB|2022-12-07|
|         10|          LCM|2022-12-07|
|         11|          LDM|2022-12-07|
|         12|           LF|2022-12-07|
|         13|           LM|2022-12-07|
|         14|           LS|2022-12-07|
|         15|           LW|2022-12-07|
|         16|          LWB|2022-12-07|
|         17|          RAM|2022-12-07|
|         18|           RB|2022-12-07|
|         19|          RCB|2022-12-07|
|         20|          RCM|2022-12-07|
+-----------+-------------+----------+
only showing top 20 rows

In [14]:
table_nationalities = spark.sql("""
    select 
        row_number() over (order by nationality) as nationality_id
        , nationality as nationality_name 
        , current_date() as date_oprt
    from (
        select distinct nationality from staging_data where nationality is not null order by nationality
    )
""")

table_nationalities.createOrReplaceTempView("nationalities")
table_nationalities.show()

+--------------+------------------+----------+
|nationality_id|  nationality_name| date_oprt|
+--------------+------------------+----------+
|             1|       Afghanistan|2022-12-07|
|             2|           Albania|2022-12-07|
|             3|           Algeria|2022-12-07|
|             4|           Andorra|2022-12-07|
|             5|            Angola|2022-12-07|
|             6| Antigua & Barbuda|2022-12-07|
|             7|         Argentina|2022-12-07|
|             8|           Armenia|2022-12-07|
|             9|             Aruba|2022-12-07|
|            10|         Australia|2022-12-07|
|            11|           Austria|2022-12-07|
|            12|        Azerbaijan|2022-12-07|
|            13|          Barbados|2022-12-07|
|            14|           Belarus|2022-12-07|
|            15|           Belgium|2022-12-07|
|            16|            Belize|2022-12-07|
|            17|             Benin|2022-12-07|
|            18|           Bermuda|2022-12-07|
|            19|           Bolivia|2022-12-07|
|            20|Bosnia Herzegovina|2022-12-07|
+--------------+------------------+----------+
only showing top 20 rows

In [29]:
table_players = spark.sql("""
    select 
        sofifa_id as player_id
        , replace(long_name, '"', '') as player_name
        , age as player_age
        , overall as player_overall
        , value_eur as player_value
        , wage_eur as player_wage
        , position.position_id
        , nationality.nationality_id
        , club.club_id
        , current_date() as date_oprt
    from (
        select distinct 
            sofifa_id
            , long_name
            , age
            , overall
            , value_eur
            , wage_eur
            , team_position
            , nationality
            , club_name
        from staging_data 
        order by sofifa_id
    ) player
    inner join positions position 
        on position.position_name = player.team_position
        and position.date_oprt = current_date()
    inner join nationalities nationality 
        on nationality.nationality_name = player.nationality
        and nationality.date_oprt = current_date()
    inner join clubs club 
        on club.club_name = player.club_name
        and club.date_oprt = current_date()
""")

table_players.createOrReplaceTempView("players")
table_players.show()

+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
|player_id|         player_name|player_age|player_overall|player_value|player_wage|position_id|nationality_id|club_id| date_oprt|
+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
|   192505|Romelu Lukaku Menama|        27|            85|    45000000|     165000|         25|            15|    331|2022-12-07|
|   212153| Roberto Gagliardini|        26|            78|    11500000|      77000|         29|            77|    331|2022-12-07|
|   172962|        Victor Moses|        29|            78|    10000000|      84000|         22|           113|    132|2022-12-07|
|   230727|  Gautier Larsonneur|        23|            77|     9000000|      13000|          6|            55|    590|2022-12-07|
|   230043|Christ-Emmanuel F...|        21|            77|    10500000|      29000|          8|            55|    592|2022-12-07|
|   206225|     Denis Cheryshev|        29|            77|     8500000|      35000|         29|           128|    633|2022-12-07|
|   244269|      Filip Benković|        22|            74|     7000000|      46000|         22|            37|    371|2022-12-07|
|   235512| Jacinto Muondo Dala|        23|            74|     7500000|      10000|         28|             5|    497|2022-12-07|
|   211672|          Tyler Boyd|        25|            74|     7000000|      47000|         13|           156|     83|2022-12-07|
|   170719|Diego Mario Buona...|        32|            74|     4400000|        500|         29|             7|    626|2022-12-07|
|   237539| Luther Wesley Singh|        22|            73|     5500000|       8000|         15|           139|    240|2022-12-07|
|   163050|         Billy Sharp|        34|            73|     2100000|      30000|         29|            48|    561|2022-12-07|
|   226811|      Franco Soldano|        25|            72|     4000000|      13000|         25|             7|     88|2022-12-07|
|   189342|     Carlo Pinsoglio|        30|            72|     2100000|      32000|         22|            77|    340|2022-12-07|
|   199191|       Dennis Appiah|        28|            72|     2700000|      17000|         18|            55|    238|2022-12-07|
|   236071|João Rodolfo Bard...|        24|            72|     2900000|      13000|         29|            21|     94|2022-12-07|
|   224440|  Julian Pollersbeck|        25|            71|     2300000|      23000|         29|            59|    436|2022-12-07|
|   254055|Luis Miguel Ayala...|        26|            71|     2600000|        500|         29|            45|    361|2022-12-07|
|   205347|      Massimo Luongo|        27|            71|     2500000|      12000|         20|            10|    562|2022-12-07|
|   210123| Pablo González Díaz|        27|            71|     2400000|       6000|         20|           101|    471|2022-12-07|
+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
only showing top 20 rows

In [16]:
table_leagues.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/leagues")

In [18]:
table_clubs.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/clubs")

In [19]:
table_positions.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/positions")

In [20]:
table_nationalities.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/nationalities")

In [30]:
table_players.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/players")