# ETL with Spark on EMR

In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

# cat ~/.aws/credentials

In [2]:
aws_access_key_id = 'ASIAXZM22O2VTZXH3EUP'
aws_secret_access_key = '9NwRlaistTkv5qfKIdOLVN7HN6gaKB7RLux2PLnR'
aws_session_token = 'FwoGZXIvYXdzEO3//////////wEaDNG/m1Hu7o2WAQKniiLMAf0cWfA7AvIaERqfk3MavZ8nPJAsglvjaddRra65NP/ZpVp0225ElmUQ6MgOXxIE/wW1vH18Rf+0Wa1cp2MKAnL8GVkEH/5/t0UC8pj0GX0lRXh00WbE7mB6PbwUWhEtNbRrDtlvqys5SJfEO0T0yLoJJug3/aEMJWT462P7dB0VlYczCkFyr2xrbQStfQGLVWypcKDrOX0Q65N7S86/+DMZyM3emhUGPP9sXLEkl8eUE4IYc+3d+6KOdk8J5l3w281er4JXtpetm+6t4ijmrPGcBjItdmeSaVJ0x0fasqLnmRzMrtCNBqzQMJJ6e21kq74/cUvNQC+ejl0Mwaq/igEP'

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", aws_access_key_id)
conf.set("spark.hadoop.fs.s3a.secret.key", aws_secret_access_key)
conf.set("spark.hadoop.fs.s3a.session.token", aws_session_token)

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [5]:
bucket = "s3a://jaochin-dataset-fifa"
landing_zone = f"{bucket}/landing/"
cleaned_zone = f"{bucket}/cleaned/"

In [6]:
data = spark.read.option("header","true").option("multiline", "true").csv(landing_zone)
data.createOrReplaceTempView("staging_data")

In [7]:
table_leagues = spark.sql("""
    select 
        row_number() over (order by league_name) as league_id
        , league_name 
        , current_date() as date_oprt
    from (
        select distinct league_name from staging_data where league_name is not null order by league_name
    )
""")
table_leagues.createOrReplaceTempView("leagues")

In [8]:
table_clubs = spark.sql("""
    select 
        row_number() over (order by club.club_name) as club_id
        , club.club_name 
        , league.league_id 
        , current_date() as date_oprt
    from (
        select distinct 
            club_name
            , league_name 
        from staging_data 
        where club_name is not null 
        order by club_name
    ) club
    inner join leagues league 
        on league.league_name = club.league_name
        and league.date_oprt = current_date()
""")
table_clubs.createOrReplaceTempView("clubs")

In [9]:
table_positions = spark.sql("""
    select 
        row_number() over (order by team_position) as position_id
        , team_position as position_name
        , current_date() as date_oprt
    from (
        select distinct team_position from staging_data where team_position is not null order by team_position
    )
""")
table_positions.createOrReplaceTempView("positions")

In [10]:
table_nationalities = spark.sql("""
    select 
        row_number() over (order by nationality) as nationality_id
        , nationality as nationality_name 
        , current_date() as date_oprt
    from (
        select distinct nationality from staging_data where nationality is not null order by nationality
    )
""")
table_nationalities.createOrReplaceTempView("nationalities")

In [11]:
table_players = spark.sql("""
    select 
        sofifa_id as player_id
        , replace(long_name, '"', '') as player_name
        , age as player_age
        , overall as player_overall
        , value_eur as player_value
        , wage_eur as player_wage
        , position.position_id
        , nationality.nationality_id
        , club.club_id
        , current_date() as date_oprt
    from (
        select distinct 
            sofifa_id
            , long_name
            , age
            , overall
            , value_eur
            , wage_eur
            , team_position
            , nationality
            , club_name
        from staging_data 
        order by sofifa_id
    ) player
    inner join positions position 
        on position.position_name = player.team_position
        and position.date_oprt = current_date()
    inner join nationalities nationality 
        on nationality.nationality_name = player.nationality
        and nationality.date_oprt = current_date()
    inner join clubs club 
        on club.club_name = player.club_name
        and club.date_oprt = current_date()
""")
table_players.createOrReplaceTempView("players")

In [12]:
table_leagues.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/leagues")
table_clubs.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/clubs")
table_positions.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/positions")
table_nationalities.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/nationalities")
table_players.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/players")