# ETL with Spark on EMR

In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [2]:
# cat ~/.aws/credentials

AWS_ACCESS_KEY_ID = "ASIAXZM22O2VXQO6X4VS"
AWS_SECRET_ACCESS_KEY = "jU51LdYFfRDMdjuOBYIaTeipqjOSM2CiNmTUhirI"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEFcaDOxH2Om9hPZjg5WpayLMAYntZue9kQAF+86jNSDBujj662NNjg6LarYBhea24c4cPiLMYXcGpnrFn7+owSOwRwcvCiGRRUrT/P4Dn7cBb1JNfsLs2sYdPnR1WF+zTna4J5ddTTkKDcyYCcxILHballDZKHLCIB9UCDAMh8RIzLBsRKKVn4xrzXgUzUJvMh9wYL3dCHYegI4pRpkDwW17P0j/mSqdsAoabq1rC5U9Pei8LuOe3Ll6ShqZhaTeVOTbB+CvY03zhYSD32OLLVQSOi3ooolSdqJwEg1nyyiNp9CcBjItMPJRkZpvq3iqYLBfsxYthG9eifO2ceNQjR7/R4c4DPNac/+n3vUI7Pq4oryU"

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

In [4]:
bucket = "s3a://jaochin-dataset-fifa"
landing_zone = f"{bucket}/landing/"
cleaned_zone = f"{bucket}/cleaned/"

# cleaned_zone = f"../Datalake/"

In [5]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [6]:
data = spark.read.option("header","true").option("multiline", "true").csv(landing_zone)

In [7]:
data.printSchema()

root
 |-- sofifa_id: string (nullable = true)
 |-- player_url: string (nullable = true)
 |-- short_name: string (nullable = true)
 |-- long_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- height_cm: string (nullable = true)
 |-- weight_kg: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- club_name: string (nullable = true)
 |-- league_name: string (nullable = true)
 |-- league_rank: string (nullable = true)
 |-- overall: string (nullable = true)
 |-- potential: string (nullable = true)
 |-- value_eur: string (nullable = true)
 |-- wage_eur: string (nullable = true)
 |-- player_positions: string (nullable = true)
 |-- preferred_foot: string (nullable = true)
 |-- international_reputation: string (nullable = true)
 |-- weak_foot: string (nullable = true)
 |-- skill_moves: string (nullable = true)
 |-- work_rate: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- real_face: string (nullable = true)
 |-- release_clause_eur: string (nullable = true)
 |-- player_tags: string (nullable = true)
 |-- team_position: string (nullable = true)
 |-- team_jersey_number: string (nullable = true)
 |-- loaned_from: string (nullable = true)
 |-- joined: string (nullable = true)
 |-- contract_valid_until: string (nullable = true)
 |-- nation_position: string (nullable = true)
 |-- nation_jersey_number: string (nullable = true)
 |-- pace: string (nullable = true)
 |-- shooting: string (nullable = true)
 |-- passing: string (nullable = true)
 |-- dribbling: string (nullable = true)
 |-- defending: string (nullable = true)
 |-- physic: string (nullable = true)
 |-- gk_diving: string (nullable = true)
 |-- gk_handling: string (nullable = true)
 |-- gk_kicking: string (nullable = true)
 |-- gk_reflexes: string (nullable = true)
 |-- gk_speed: string (nullable = true)
 |-- gk_positioning: string (nullable = true)
 |-- player_traits: string (nullable = true)
 |-- attacking_crossing: string (nullable = true)
 |-- attacking_finishing: string (nullable = true)
 |-- attacking_heading_accuracy: string (nullable = true)
 |-- attacking_short_passing: string (nullable = true)
 |-- attacking_volleys: string (nullable = true)
 |-- skill_dribbling: string (nullable = true)
 |-- skill_curve: string (nullable = true)
 |-- skill_fk_accuracy: string (nullable = true)
 |-- skill_long_passing: string (nullable = true)
 |-- skill_ball_control: string (nullable = true)
 |-- movement_acceleration: string (nullable = true)
 |-- movement_sprint_speed: string (nullable = true)
 |-- movement_agility: string (nullable = true)
 |-- movement_reactions: string (nullable = true)
 |-- movement_balance: string (nullable = true)
 |-- power_shot_power: string (nullable = true)
 |-- power_jumping: string (nullable = true)
 |-- power_stamina: string (nullable = true)
 |-- power_strength: string (nullable = true)
 |-- power_long_shots: string (nullable = true)
 |-- mentality_aggression: string (nullable = true)
 |-- mentality_interceptions: string (nullable = true)
 |-- mentality_positioning: string (nullable = true)
 |-- mentality_vision: string (nullable = true)
 |-- mentality_penalties: string (nullable = true)
 |-- mentality_composure: string (nullable = true)
 |-- defending_marking: string (nullable = true)
 |-- defending_standing_tackle: string (nullable = true)
 |-- defending_sliding_tackle: string (nullable = true)
 |-- goalkeeping_diving: string (nullable = true)
 |-- goalkeeping_handling: string (nullable = true)
 |-- goalkeeping_kicking: string (nullable = true)
 |-- goalkeeping_positioning: string (nullable = true)
 |-- goalkeeping_reflexes: string (nullable = true)
 |-- ls: string (nullable = true)
 |-- st: string (nullable = true)
 |-- rs: string (nullable = true)
 |-- lw: string (nullable = true)
 |-- lf: string (nullable = true)
 |-- cf: string (nullable = true)
 |-- rf: string (nullable = true)
 |-- rw: string (nullable = true)
 |-- lam: string (nullable = true)
 |-- cam: string (nullable = true)
 |-- ram: string (nullable = true)
 |-- lm: string (nullable = true)
 |-- lcm: string (nullable = true)
 |-- cm: string (nullable = true)
 |-- rcm: string (nullable = true)
 |-- rm: string (nullable = true)
 |-- lwb: string (nullable = true)
 |-- ldm: string (nullable = true)
 |-- cdm: string (nullable = true)
 |-- rdm: string (nullable = true)
 |-- rwb: string (nullable = true)
 |-- lb: string (nullable = true)
 |-- lcb: string (nullable = true)
 |-- cb: string (nullable = true)
 |-- rcb: string (nullable = true)
 |-- rb: string (nullable = true)

In [8]:
data.createOrReplaceTempView("staging_data")

In [9]:
table = spark.sql("""
    select
        sofifa_id
        , long_name
        , age
        , overall
        , value_eur
        , wage_eur
        , team_position
        , nationality
        , club_name
        , league_name
    from
        staging_data
""")

table.show()

+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
|sofifa_id|           long_name|age|overall|value_eur|wage_eur|team_position|nationality|          club_name|         league_name|
+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
|   158023|Lionel Andrés Mes...| 33|     93| 67500000|  560000|          CAM|  Argentina|       FC Barcelona|Spain Primera Div...|
|    20801|Cristiano Ronaldo...| 35|     92| 46000000|  220000|           LS|   Portugal|           Juventus|     Italian Serie A|
|   200389|           Jan Oblak| 27|     91| 75000000|  125000|           GK|   Slovenia|    Atlético Madrid|Spain Primera Div...|
|   188545|  Robert Lewandowski| 31|     91| 80000000|  240000|           ST|     Poland|  FC Bayern München|German 1. Bundesliga|
|   190871|Neymar da Silva S...| 28|     91| 90000000|  270000|           LW|     Brazil|Paris Saint-Germain|      French Ligue 1|
|   192985|     Kevin De Bruyne| 29|     91| 87000000|  370000|          RCM|    Belgium|    Manchester City|English Premier L...|
|   231747|Kylian Mbappé Lottin| 21|     90|105500000|  160000|           LS|     France|Paris Saint-Germain|      French Ligue 1|
|   192448|Marc-André ter St...| 28|     90| 69500000|  260000|           GK|    Germany|       FC Barcelona|Spain Primera Div...|
|   203376|     Virgil van Dijk| 28|     90| 75500000|  210000|          LCB|Netherlands|          Liverpool|English Premier L...|
|   212831|Alisson Ramsés Be...| 27|     90| 62500000|  160000|           GK|     Brazil|          Liverpool|English Premier L...|
|   208722|          Sadio Mané| 28|     90| 78000000|  250000|           LW|    Senegal|          Liverpool|English Premier L...|
|   209331| Mohamed Salah Ghaly| 28|     90| 78000000|  250000|           RW|      Egypt|          Liverpool|English Premier L...|
|   192119|    Thibaut Courtois| 28|     89| 56000000|  250000|           GK|    Belgium|        Real Madrid|Spain Primera Div...|
|   153079|Sergio Leonel Agü...| 32|     89| 53000000|  300000|          SUB|  Argentina|    Manchester City|English Premier L...|
|   155862| Sergio Ramos García| 34|     89| 24500000|  300000|          LCB|      Spain|        Real Madrid|Spain Primera Div...|
|   165153|       Karim Benzema| 32|     89| 53000000|  350000|           CF|     France|        Real Madrid|Spain Primera Div...|
|   167495|        Manuel Neuer| 34|     89| 29000000|  125000|           GK|    Germany|  FC Bayern München|German 1. Bundesliga|
|   200145|Carlos Henrique V...| 28|     89| 59500000|  310000|          CDM|     Brazil|        Real Madrid|Spain Primera Div...|
|   210257|Ederson Santana d...| 26|     88| 53500000|  195000|           GK|     Brazil|    Manchester City|English Premier L...|
|   202652|Raheem Shaquille ...| 25|     88| 72500000|  270000|           LW|    England|    Manchester City|English Premier L...|
+---------+--------------------+---+-------+---------+--------+-------------+-----------+-------------------+--------------------+
only showing top 20 rows

In [10]:
table_leagues = spark.sql("""
    select 
        row_number() over (order by league_name) as league_id
        , league_name 
        , current_date() as date_oprt
    from (
        select distinct league_name from staging_data where league_name is not null order by league_name
    )
""")

table_leagues.createOrReplaceTempView("leagues")
table_leagues.show()

+---------+--------------------+----------+
|league_id|         league_name| date_oprt|
+---------+--------------------+----------+
|        1|Argentina Primera...|2022-12-10|
|        2|Argentinian Prime...|2022-12-10|
|        3|Australian Hyunda...|2022-12-10|
|        4|Austrian Football...|2022-12-10|
|        5|Belgian Jupiler P...|2022-12-10|
|        6|Campeonato Brasil...|2022-12-10|
|        7|Chilian Campeonat...|2022-12-10|
|        8|Chinese Super League|2022-12-10|
|        9|Colombian Liga Po...|2022-12-10|
|       10|   Croatian Prva HNL|2022-12-10|
|       11|Czech Republic Ga...|2022-12-10|
|       12|    Danish Superliga|2022-12-10|
|       13|  Ecuadorian Serie A|2022-12-10|
|       14|English League Ch...|2022-12-10|
|       15|  English League One|2022-12-10|
|       16|  English League Two|2022-12-10|
|       17|English Premier L...|2022-12-10|
|       18|Finnish Veikkausl...|2022-12-10|
|       19|      French Ligue 1|2022-12-10|
|       20|      French Ligue 2|2022-12-10|
+---------+--------------------+----------+
only showing top 20 rows

In [11]:
table_clubs = spark.sql("""
    select 
        row_number() over (order by club.club_name) as club_id
        , club.club_name 
        , league.league_id 
        , current_date() as date_oprt
    from (
        select distinct 
            club_name
            , league_name 
        from staging_data 
        where club_name is not null 
        order by club_name
    ) club
    inner join leagues league 
        on league.league_name = club.league_name
        and league.date_oprt = current_date()
""")

table_clubs.createOrReplaceTempView("clubs")
table_clubs.show()

+-------+--------------------+---------+----------+
|club_id|           club_name|league_id| date_oprt|
+-------+--------------------+---------+----------+
|      1|1. FC Heidenheim ...|       22|2022-12-10|
|      2|1. FC Kaiserslautern|       23|2022-12-10|
|      3|          1. FC Köln|       21|2022-12-10|
|      4|     1. FC Magdeburg|       23|2022-12-10|
|      5|      1. FC Nürnberg|       22|2022-12-10|
|      6|   1. FC Saarbrücken|       23|2022-12-10|
|      7|  1. FC Union Berlin|       21|2022-12-10|
|      8|     1. FSV Mainz 05|       21|2022-12-10|
|      9|          AC Ajaccio|       20|2022-12-10|
|     10|          AC Horsens|       12|2022-12-10|
|     11|AC Mineros de Gua...|       52|2022-12-10|
|     12|            AC Monza|       27|2022-12-10|
|     13|         AD Alcorcón|       44|2022-12-10|
|     14|        ADO Den Haag|       25|2022-12-10|
|     15|          AEK Athens|       24|2022-12-10|
|     16|       AFC Wimbledon|       15|2022-12-10|
|     17|                 AIK|       45|2022-12-10|
|     18|          AJ Auxerre|       20|2022-12-10|
|     19|           AS Monaco|       19|2022-12-10|
|     20|   AS Nancy Lorraine|       20|2022-12-10|
+-------+--------------------+---------+----------+
only showing top 20 rows

In [12]:
table_positions = spark.sql("""
    select 
        row_number() over (order by team_position) as position_id
        , team_position as position_name
        , current_date() as date_oprt
    from (
        select distinct team_position from staging_data where team_position is not null order by team_position
    )
""")

table_positions.createOrReplaceTempView("positions")
table_positions.show()

+-----------+-------------+----------+
|position_id|position_name| date_oprt|
+-----------+-------------+----------+
|          1|          CAM|2022-12-10|
|          2|           CB|2022-12-10|
|          3|          CDM|2022-12-10|
|          4|           CF|2022-12-10|
|          5|           CM|2022-12-10|
|          6|           GK|2022-12-10|
|          7|          LAM|2022-12-10|
|          8|           LB|2022-12-10|
|          9|          LCB|2022-12-10|
|         10|          LCM|2022-12-10|
|         11|          LDM|2022-12-10|
|         12|           LF|2022-12-10|
|         13|           LM|2022-12-10|
|         14|           LS|2022-12-10|
|         15|           LW|2022-12-10|
|         16|          LWB|2022-12-10|
|         17|          RAM|2022-12-10|
|         18|           RB|2022-12-10|
|         19|          RCB|2022-12-10|
|         20|          RCM|2022-12-10|
+-----------+-------------+----------+
only showing top 20 rows

In [13]:
table_nationalities = spark.sql("""
    select 
        row_number() over (order by nationality) as nationality_id
        , nationality as nationality_name 
        , current_date() as date_oprt
    from (
        select distinct nationality from staging_data where nationality is not null order by nationality
    )
""")

table_nationalities.createOrReplaceTempView("nationalities")
table_nationalities.show()

+--------------+------------------+----------+
|nationality_id|  nationality_name| date_oprt|
+--------------+------------------+----------+
|             1|       Afghanistan|2022-12-10|
|             2|           Albania|2022-12-10|
|             3|           Algeria|2022-12-10|
|             4|           Andorra|2022-12-10|
|             5|            Angola|2022-12-10|
|             6| Antigua & Barbuda|2022-12-10|
|             7|         Argentina|2022-12-10|
|             8|           Armenia|2022-12-10|
|             9|             Aruba|2022-12-10|
|            10|         Australia|2022-12-10|
|            11|           Austria|2022-12-10|
|            12|        Azerbaijan|2022-12-10|
|            13|          Barbados|2022-12-10|
|            14|           Belarus|2022-12-10|
|            15|           Belgium|2022-12-10|
|            16|            Belize|2022-12-10|
|            17|             Benin|2022-12-10|
|            18|           Bermuda|2022-12-10|
|            19|           Bolivia|2022-12-10|
|            20|Bosnia Herzegovina|2022-12-10|
+--------------+------------------+----------+
only showing top 20 rows

In [14]:
table_players = spark.sql("""
    select 
        sofifa_id as player_id
        , replace(long_name, '"', '') as player_name
        , age as player_age
        , overall as player_overall
        , value_eur as player_value
        , wage_eur as player_wage
        , position.position_id
        , nationality.nationality_id
        , club.club_id
        , current_date() as date_oprt
    from (
        select distinct 
            sofifa_id
            , long_name
            , age
            , overall
            , value_eur
            , wage_eur
            , team_position
            , nationality
            , club_name
        from staging_data 
        order by sofifa_id
    ) player
    inner join positions position 
        on position.position_name = player.team_position
        and position.date_oprt = current_date()
    inner join nationalities nationality 
        on nationality.nationality_name = player.nationality
        and nationality.date_oprt = current_date()
    inner join clubs club 
        on club.club_name = player.club_name
        and club.date_oprt = current_date()
""")

table_players.createOrReplaceTempView("players")
table_players.show()

+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
|player_id|         player_name|player_age|player_overall|player_value|player_wage|position_id|nationality_id|club_id| date_oprt|
+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
|   232372|           岡本 拓也|        28|            65|      475000|       1000|         24|            80|    567|2022-12-10|
|   232379|           石原 直樹|        35|            66|      300000|       1000|         25|            80|    567|2022-12-10|
|   233176|           齐藤 未月|        21|            63|      575000|        850|         20|            80|    567|2022-12-10|
|   242564|           富居 大樹|        30|            61|      170000|        700|         29|            80|    567|2022-12-10|
|   226950|      Luke Armstrong|        23|            58|      180000|       3000|         29|            48|    538|2022-12-10|
|   215594|Alexandru Nicolae...|        30|            67|      600000|       3000|          8|           127|    254|2022-12-10|
|   241882|           後藤 正明|        26|            60|      190000|        650|         22|            80|    567|2022-12-10|
|   252901|Claudiu Gabriel B...|        20|            55|      150000|        950|         29|           127|    254|2022-12-10|
|   242560|             坂 圭祐|        25|            62|      350000|        900|          2|            80|    567|2022-12-10|
|   251022|Cristian Ionuț Co...|        22|            61|      400000|       1000|         18|           127|    254|2022-12-10|
|   250833|        Ayrton Mboko|        22|            62|      375000|       2000|         22|            15|     80|2022-12-10|
|   234341| İrfan Can Eğribayat|        22|            61|      325000|       3000|          6|           152|    301|2022-12-10|
|   232951|           中川 寛斗|        25|            63|      475000|       1000|         29|            80|    567|2022-12-10|
|   241434|        Tylor Golden|        20|            58|      200000|       2000|         29|            48|    538|2022-12-10|
|   257831|    Abdoulie Sanyang|        21|            65|      850000|       3000|         29|            57|     80|2022-12-10|
|   205712|Bruno Miguel Carv...|        26|            67|      900000|       7000|         24|           124|    538|2022-12-10|
|   258842|    Harry Ditchfield|        18|            52|      100000|        800|         22|            48|    538|2022-12-10|
|   210221|      Alexander Maes|        28|            66|      650000|       4000|         29|            15|     80|2022-12-10|
|   173518|          Tom Clarke|        32|            67|      500000|       6000|          9|            48|    538|2022-12-10|
|   248024|Victor Teodor Rîm...|        30|            63|      250000|       1000|          6|           127|    254|2022-12-10|
+---------+--------------------+----------+--------------+------------+-----------+-----------+--------------+-------+----------+
only showing top 20 rows

In [15]:
table_leagues.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/leagues")

In [16]:
table_clubs.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/clubs")

In [17]:
table_positions.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/positions")

In [18]:
table_nationalities.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/nationalities")

In [19]:
table_players.write.partitionBy("date_oprt").mode("append").option("header",True).csv(cleaned_zone+"/players")